@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}

.main{
  height: 200px;
  width: 550px;
  position: absolute;
  top: 270px;
  right: 70px;

  padding: 10px;


  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

}

.Chart-heading{
  text-align: center;
  
  font-size: 30px;
  font-weight: bold;

  margin-bottom: 20px;
}

.btn{
  padding: 10px;
  width: 80px;

  background-color: transparent;
  border: 2px solid black;
  border-radius: 4px;

  margin: 10px;

  font-size: 16px;
  font-weight: 600;

  transition: all 0.15s;
}

.btn:hover{
  cursor: pointer;
  background-color: black;
  color: white;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);


}



.chart{
  position: relative;
  top: 20px;

}